<button type="button" class="btn btn-warning float-lg-left mb-1 ml-1" data-toggle="modal" data-target="#newAttendanceModal">
  Novo atendimento a partir desse
</button>

<div class="modal fade" id="newAttendanceModal" tabindex="-1" role="dialog" aria-labelledby="newAttendanceModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newAttendanceModalTitle">Novo Atendimento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>AAAA</p>
      </div>
    </div>
  </div>
</div>